.security .item-content{
    background-color:#ffffff;
    font-size:0.789rem;
}
.security .item-content .item-inner .reset-password{
    color:#212121;
}
.security .item-content .item-inner .arrow{
    display:inline-block;
    color:#999999;
}
.security-mask{
    display:none;
}
.security-mask .modal-inner{
    border-radius: .35rem;
}
.security-mask .old-password{
    width:90%;
    text-align:left;
    height:2.05rem;
    line-height:2.05rem;
    color:#212121;
    font-size:0.789rem;
}
.security-mask .modal-inner{
    background-color:#ffffff;
}
.security-mask  .pass-2{

    border-bottom:solid 1px #e6e6e6;
}
.security-mask  .link-address{
    display:inline-block;
    color:#212121;
}
.security-mask  .modal{
    top:30%;
}
.com-icon{
    display:inline-block;
    width:1.15rem;
    height:0.546rem;
}
#changePasswordPage2 .icon-p-1{
    background:url(../assets/images/icon-show.png) no-repeat;
    background-size:100% 100%;
}
#changePasswordPage2 .icon-p-2{
    background:url(../assets/images/icon-hide.png) no-repeat;
    background-size:100% 100%;
}
#changePasswordPage2 .icon-p-3{
    background:url(../assets/images/icon-hide.png) no-repeat;
    background-size:100% 100%;
}
#changePasswordPage2 .list-block .item-title.label{
    width:auto;
}
#changePasswordPage2 .next-step{
    border:none;
    color:#fff;
}
.button-password{
    border:none  !important;
    color:#fff !important;
}
#changePasswordPage .vert-code{
    height:1.94rem;
    line-height:1.94rem;
    background-color:#ff503e;
    border-radius:1rem;
    color:#fff;
    font-size:0.789rem;
    padding:0px 0.5rem;
    margin-left:0.758rem;
}
#changePasswordPage .item-vert{
    border:none;
    padding:0px;
    margin-right:0.75rem;
}
#changePasswordPage .vert-input{
    width:4.5rem;
    border-bottom:1px solid #e7e7e7;
}
#changePasswordPage .item-phone{
    border-bottom:1px solid #e7e7e7;
}
/*******重置成功********/
.success .success-content{

    position:relative;
}
 .success .text-s{
    vertical-align:middle;
     text-align: center;
     margin:4.49rem 0 6.8rem 0;

}
.success .reset-success{
    margin:auto;
    width:3.278rem;
    height:3.278rem;
    background:url(../assets/images/Check.png) no-repeat;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}
.success .reset-succ{
    margin-top:1.09rem;
    font-size:0.85rem;
    color:#000000;
}
.change-mar{
    margin-top:0.607rem !important;
}