.pay-content{
    background-color:#fff;

}
.pay-content .title-p{
    background-color:#eb4c1e;
    padding:0.667rem 0.75rem;
}
.pay-content .title-p .order-img img{
    height:1.88rem;
    width:1.88rem;
}
.pay-content .or-title{
    font-size:0.789rem;
    color:#fff;
}
.pay-content .or-title2{
    font-size:0.667rem;
    color:#fff;
}
.pay-content .order-done{
    margin-left:0.6rem;
}
.pay-content .desc-content{
    padding:0 0.75rem;
}
.pay-content .pay-amount{
    color:#212121;
    font-size:0.789rem;
    padding:1.5rem 0 0.9rem 0;
    margin-bottom:0.91rem;
    border-bottom:dashed 1px #999999;
}
.pay-content .pay-span2{
    font-size:1.457rem;
    color:#eb4c1e;
}
.pay-content .pay-span3{
    font-size:0.971rem;
}
.pay-content .order-addr{
   font-size:0.789rem;
}
.pay-content .detail-addr{
    display:inline-block;
    line-height:1.2rem;
    padding-left:3.946rem;
    padding-bottom:0.9rem;
}
#commonPay .cards-list .card{
    margin:0;
    box-shadow: none;
}
#commonPay .pay-logo1{
    font-size:0.789rem;
    padding-left:1.4rem;
    background:url(../assets/images/zhifubao.png) left center no-repeat;
    -webkit-background-size:1.09rem 1.09rem;
    -moz-background-size:1.09rem 1.09rem;
    background-size:1.09rem 1.09rem;
}
#commonPay .pay-logo2{
    font-size:0.789rem;
    padding-left:1.4rem;
    background:url(../assets/images/weixin.png) left center no-repeat;
    -webkit-background-size:1.09rem 1.09rem;
    -moz-background-size:1.09rem 1.09rem;
    background-size:1.09rem 1.09rem;
}
#commonPay .pay-logo3{
    font-size:0.789rem;
    padding-left:1.4rem;
    background:url(../assets/images/quickbank.png) left center no-repeat;
    -webkit-background-size:1.09rem 1.09rem;
    -moz-background-size:1.09rem 1.09rem;
    background-size:1.09rem 1.09rem;
}
.select-bank{
    background-color:#f0f0f0;
    font-size:0.789rem;
    color:#212121;
    padding:0.91rem 0;
    border-top-right-radius:0.3rem;
    border-top-left-radius:0.3rem;
}
.cancel-m{
    position:absolute;
    right:0.91rem;
    color:#1b949f;
    font-size:0.789rem;

}
.bank-li{
    width:100%;
    background-color:#fff;

}
.bank-li a{
    text-align:left;
    color:#212121;
    font-weight:normal;
    font-size:0.789rem;
}
.bank-a{
    display:inline-block;
    width:94%;
   border-bottom:solid 1px #e6e6e6;
}
.attract{
    margin-right:0.3rem;
}
.bank-but{
    font-size:0.789rem;
    color:#1b949f;
    text-align:center;
    background-color:#fff;

}
.bank-but-radius{
   border-bottom-left-radius:0.3rem;
   border-bottom-right-radius:0.3rem;
}