@charset "UTF-8";
/** { touch-action: none; }*/
.jjPageBg {
    background: #fff;
    background-size: cover
}

/* 首页头部搜索 */
.header-index {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.blackBg {
    background: rgba(0, 0, 0, 0.6);
}

.header-index .nav-left {
    position: absolute;
    left: 0.5em;
    top: 10px;
    width: 3rem;
    display: block;
}

.header-index .nav-left img {
    width: 100%;
}

.header-index .navbar-search {
    margin-left: 4rem;
    margin-right: 0.5rem;
}

.header-index .right-search .form-control {
    font-size: .8rem;
    color: #fffcfc;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px;
    border: 0;
    border-radius: 1rem;
    display: block;
    background: #998586 url(../assets/images/search.png) no-repeat 0.3rem center;
    padding-left: 2.5em;
    background-size: 1.6em;
}

/*
.my_header {
width: 100%;
height: auto;
color:#000000;
border-bottom: 1px solid #666;
}
.my_header .my_header_title{
display: block;
text-align: center;
font-size:1rem;
padding:0.5rem 0
}
*/
.user_profile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}

.user_profile_icon {
    width: 100%;
    padding: 1rem 1rem;
    /*margin:4rem auto*/
    text-align: center;
    display: block;
}

.user_profile_avatar {
    background: #fff;
    width: auto;
    max-height: 5rem;
    border-radius: 100%;
    margin-top: 1rem;
}

.login_button_group {
    width: 100%;
    height: 100%;
    display: flex;
    /*border-top: 1px solid #ddd;*/
    /*box-shadow: 0 0 5px #ccc;*/
    display: -webkit-flex;
    align-items: center;
}

.login_button_group a {
    width: 50%;
    margin: 1rem .2rem;
    /*padding:.6rem .6rem;*/
    vertical-align: middle;
    text-align: center;
    border-radius: .5rem;
    color: #000000;
    background: #ffffff;
}
.reset-con .register-button{
    width:5rem;
    height:1.5rem;
    line-height:1.5rem;
    border:none;
    border-radius: 1.0rem;
    font-size:0.677rem;
}
.user_link_btn {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.user_link_btn .link_btn {
    margin: 0.5rem 0.3rem;
    width: 10rem

}

/* 首页底部导航 */
.foot-con {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 5px #ccc;
}

.foot-con a:active {
    color: #616161;
}

.foot-con a:visited {
    color: #616161;
}

.foot-con a {
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    font-size: 0.9em;
}

.foot-con i {
    font-size: 1.4em;
    display: block;
    color: #616161;
}

.foot-con .text {
    display: block;
    color: #616161;
}

.foot-con .active i, .foot-con .active .text {
    color: #eb4c1e;
}

/*首页banner图*/
.swiper-banner .swiper-wrapper {
    position: absolute;
    left: 0;
    top: 0;
}

.swiper-banner .swiper-slide {
    float: left;
}

.swiper-notice {
    width: 100%;
    overflow: hidden;
}

.swiper-notice .swiper-slide {
    position: relative;
    height: auto;
}

.swiper-notice .swiper-slide .cq-icon {
    text-align: left;
    margin: 0;
    padding-left: 2.3em;
    background-color: #fff;
}

.swiper-notice .cq-icon:after {
    font-size: 1.3em;
    color: #fb965a;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px, 0, 0);
    -webkit-transition-timing-function: ease-out;
    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0px, 0, 0);
    transition-timing-function: ease-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 100%;
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

.swiper-container {
    width: 100%;
    padding-top: 46.89%;
}

.swiper-slide {
    height: 100%;
}

.swiper-slide .slide-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide .slide-item img {
    width: 100%;
    height: auto;
}

.swiper-slide-active {
}

.swiper-slide-visible {
}

.pagination {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.swiper-pagination-switch {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    margin-left: 4px;
    opacity: .6;
}

.swiper-active-switch {
    opacity: 1;
}

/*nav-index*/
.nav-index {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    border-bottom: 1px solid #f0f0ef;
    background-color:#fff;
}

.nav-index div {
    flex: 1;
    -webkit-flex: 1;
    padding: 0.7em 0;
    line-height: 1;
}

.nav-index i img {
    height: 0.9em;
}

.nav-index span {
    padding-left: 0.2em;
    font-size: 0.65em;
    color: #878787;
}

/*首页推荐*/
.shop-index {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    align-content: space-between;
    -webkit-align-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.shop-index .shop-img {
    width: 50%;
}

.shop-index .shop-img {
    padding: 0 0.25rem;
    background: #f7f7f7;
}

.shop-index .shop-img .shop-link {
    width: 100%;
    border-radius: 1rem;
}

.shop-index .shop-img .shop-link img {
    width: 100%;
    padding: 0 .255rem;
}
.shop-index .shop-cate .active-t{
    margin:0.5rem 0;
    height:9.1rem;
}
.shop-index .shop-cate .active-t .act-left{
    position:relative;
    width:40%;
    height:100%;
}
.shop-index .shop-cate .active-t  .zero-gift{
    position:absolute;
    top:0.75rem;
    left:0.75rem;
}
.shop-index .shop-cate .zero-gift .gift-font{
   font-size:0.789rem;
    color:#fff;
}
.shop-index .shop-cate .zero-gift .check-act{
    font-size:0.607rem;
    color:#fff;
}
.shop-index .shop-cate .zero-gift .zongzi{
    font-size:0.789rem;
    color:#386d09;
}
.shop-index .shop-cate .zero-gift .zong-price{
    font-size:0.607rem;
    color:#000;
}
.shop-index .shop-cate .zero-gift-two{
    position:absolute;
    top:5.25rem;
    left:0.75rem;
}
.shop-index .shop-cate .zero-gift-two .seckill-area{
     font-size:0.789rem;
     color:#000;
}
.shop-index .shop-cate .zero-gift-two .ut-price-goods{
    font-size:0.607rem;
    color:#000;
}
.shop-index .shop-cate .zero-gift .check-act a{
    color:#fff;
}
.shop-index .shop-cate .active-t .act-right{
    position:relative;
    width:60%;
    height:100%;
}
.shop-index .shop-cate .active-t .act-left img,
.shop-index .shop-cate .active-t .act-right img{
    width:100%;
    height:100%;
}
.shop-index .shop-cate .b-img{
    width:49%;
    background-color:#fff;
    margin-bottom:60px;
}
.shop-index .shop-cate .b-img .bt-img{
    position:relative;
    width:100%;
}
.shop-index .shop-cate  .b-img .tipIm{
    position:absolute;
    width:2.55rem;
    height:2.55rem;
    top:0;
    left:0;
    color:#fff;
    font-size:0.607rem;
    background:url("../assets/images/index10.png");
    background-size:100% 100%;
}
.shop-index .shop-cate  .b-img .plunge{
    margin-left:0.2rem;
    margin-top:0.2rem;
    display:inline-block;
}
.shop-index .shop-cate .b-img .bt-img img{
    width:100%;
}
.shop-index .shop-cate .act-a{
    height:50%;
}
.shop-index .shop-cate .act-a img{
    height:100%;
}
    /*搜索页面*/
.search-main .title {
    color: #000000;
    padding: 0.5em 0;
    margin: 1em 1em 0em;
    font-size: 1em;
    border-bottom: 1px solid #dddddd;
    line-height: 1.7;
}

.search-main .title a {
    float: right;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: 0.2em;
    text-align: center;
    color: #aaaaaa;
}

.search-main .hot_content {
    overflow: hidden;
    margin: 1em 1em 1em;
}

.search-main .hot_content a {
    display: block;
    float: left;
    border-radius: 1em;
    line-height: 1;
    padding: 0.7em;
    margin: 0 0.5em 0.5em 0;
    color: #666666;
    background: #eeeeee;
}

#searchPrompt li {
    color: #444444;
    padding: 1em;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1em;
}

/* 搜索页面头部搜索 */
.header-search {
    height: 50px;
    width: 100%;
    background: #eb4c1e;
    overflow: hidden;
}

.header-search .nav-left {
    position: absolute;
    left: 0.5em;
    top: 15px;
    display: block;
}

.header-search .nav-left a {
    font-size: 1.5em;
    color: #fff;
}

.header-search .navbar-search {
    margin-left: 2.5em;
    margin-right: 0.5em;
}

.header-search .navbar-search .form-control {
    font-size: 1em;
    color: #000000;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px;
    padding-left: 2.5em;
    border-radius: 1em;
    border: 0;
    display: inline-block;
    background: #ffffff url(../assets/images/search2.png) no-repeat 0.5em center;
    background-size: 1.6em;
}

.header-search .navbar-search .cancelText {
    font-size: 1em;
    /*color: #000000;*/
    width: 40px;
    height: 40px;
    padding-left: 2.5em;
    border-radius: 1em;
    border: 0;
    display: inline-block;
    background: #eb4c1e url(../assets/images/close.png) no-repeat center center;
    background-size: 2em;
}

.header-search .navbar-search .cancelSearch {
    background: #fff;
    color: #eb4c1e;
    margin: 0 .5rem;
    padding: .3rem .7rem;
    border-radius: .8rem;
    border: 0;
    width: 5rem;
    text-align: center;
}

.header-search .navbar-search ::-webkit-input-placeholder {
    color: #a8a8a8 !important;
}

/*列表页面*/
#shopTop {
    width: 100%;
}

#shopListSort {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    text-align: center;
    height: 40px;
}

#shopListSort > div {
    flex: 2;
    -webkit-flex: 2;
    font-size: 1em;
    color: #444444;
    background: #e6e6e6;
    height: 40px;
    line-height: 40px;
}

#shopListSort > div a {
    display: block;
}

#shopListSort > div:nth-child(3) {
    flex: 1;
    -webkit-flex: 1;
    color: #fff;
    background: #eb4c1e;
}

#shopListSort > div:nth-child(3) a {
    color: #FFF
}

#shopListSort .active {
    color: #eb4c1e;
}

#shopListSort .price {
    position: relative;
}

#shopListSort .price i {
    position: absolute;
    left: 0.2em;
    font-size: 0.9em;
}

#shopListSort .price .icon-arrow-up {
    top: -0.1em;
}

#shopListSort .price .icon-arrow-down {
    top: 0.6em;
}

.shopList {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.shopList > div {
    width: 50%;
}

.shopList > div dl {
    background: #fff;
    margin-bottom: 0.5em;
}

.shopList > div:nth-child(odd) {
    padding-right: 0.25em;
}

.shopList > div:nth-child(even) {
    padding-left: 0.25em;
}

.shopList dt img {
    width: 100%;
}

.shopList dd {
    padding: 0.25em;
}

.shopList .shop_title h3 {
    font-size: 1em;
    line-height: 1.7;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shopList .shop_price i {
    font-style: normal;
}

.shopList .shop_price {
    font-size: 14px;
    font-weight: 700;
    color: #DD2727;
    margin-top: 4px;
    height: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.shopList .tii_small {
    font-size: 12px;
}

.shopList .tii_sold {
    font-size: 12px;
    color: #999;
    height: 14px;
    line-height: 14px;
    margin-left: 9px;
    font-weight: 400;
}

/*****滑动筛选*****/
.overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    left: 0
}

.openmenu .overlay {
    top: 0px
}

.sxBox {
    overflow-y: auto;
}

.ovfHiden {
    overflow: hidden;
    height: 100%;
}

#hamburgermenu {
    height: 100%;
    width: 0;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    -webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, .55);
    box-shadow: 3px 0 7px rgba(0, 0, 0, .55);
}

#hamburgermenu .sxTitle {
    padding: 1em;
    background: #ebebeb;
    color: #000;
    text-align: left;
    position: relative;
    width: 100%;
    font-size: 1em;
}

#hamburgermenu dl {
    margin-top: 5px;
    z-index: 99999;
    overflow-y: auto;
    overflow-x: hidden;
}

#hamburgermenu dl dd {
    display: block;
    text-align: left;
}

#hamburgermenu dl dd a {
    border-bottom: 1px solid #eee;
    padding: 1em;
    color: #444444;
    font-size: 1em;
    display: block;
    text-decoration: none;
}

#hamburgermenu dl dd a.active {
    color: #eb4c1e;
}

#hamburgermenu dl dd > a {
    background: url(../assets/images/slideDown.png) no-repeat 96% center;
    background-size: 1.5em 0.5em;
}

#hamburgermenu dl dd > a.active {
    background: url(../assets/images/slideUp.png) no-repeat 96% center;
    background-size: 1.5em 0.5em;
}

#hamburgermenu dl dd ul {
    padding-left: 1em;
    display: none;
}

.jiejieColor {
    background: #eb4c1e;
!important;
    color: #fff;
!important;
}

.feedbackContent {
    background: #fff !important;
    color: #333;
    text-align: left;
}

.danger {
    color: #f00;
}

.login_input {
    background: rgba(255, 255, 255, .5);
    border-radius: 5rem;
    margin: .3rem 0;
}

#loginPage input::-webkit-input-placeholder, #loginPage input::-moz-placeholder, #loginPage input:-ms-input-placeholder {
    color: #f0f0f0;
}

.error {
    border: 2px solid rgb(248, 75, 21);
    border-radius: 2rem;
}

.register_input {
    background: #f0f0f0;
    border-radius: 5rem;
    margin: .3rem 0;
}

.register_input input {
    color: #bcbcbc;
    letter-spacing: .05rem;
}

#userPhoneError, #userPassError, #userSMSCodeError, #userPassword1Error, #userPassword2Error {
    padding: 0 1rem;
    display: none;
    font-size: 0.6rem;
    color: #f84b15;
}

.userColumn .item-content .item-inner a {
    color: #333;
}

/* cart */
.cartBg {
    background: #fff;
    padding-bottom: 2.5rem;
}

.cart-index {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    /*border-bottom: 1px solid #f0f0ef;*/
    height: 1.5rem;
    background: #f5f5f5;
}

.cart-index div {
    flex: 1;
    -webkit-flex: 1;
    padding: 0.7rem 0;
    line-height: 1;
}

.cart-index i img {
    height: 0.9rem;
}

.cart-index span {
    padding-left: 0.2rem;
    font-size: 0.65rem;
    color: #878787;
}

.cart-item {
    width: 100%;
    background: #f5f5f5;
}

.cart-item .cart-store-title-label {
    display: flex;
    display: -webkit-flex;
    background: #fff;
    width: 100%;
    height: 50px;
    font-size: .8rem;
    align-items: center;
    line-height: 2.3rem;
    justify-content: space-between;
}

.cart-item .cart-store-title-label .storeName {
    width: 13.5rem;
    font-size: 0.7rem;
}

.cart-item .cart-store-title-label .editBtn {
    padding: 0 .6rem;
    font-size: 0.7rem;
}

.cart-item .cart-store-title-label .finishBtn {
    padding: 0 .6rem;
    display: none;
    font-size: 0.7rem;
}

.cart-item .cart-store-title-wrapper {
    padding: .8rem .8rem .5rem .6rem;
}

.cart-item .cart-shop-select {
    display: none;
}

.cart-item .cart-store-img-text-label {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background: #fff;
}

.cart-item .cart-store-img-text-label .cart-item-select-wrapper {
    padding: .8rem .8rem .5rem .6rem;
}

.cart-item .cart-off-store-img-text-label {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background: #fff;
}

.cart-item .cart-off-store-img-text-label .cart-item-image {
    padding: 0 0.3rem;
}

.cart-item .cart-off-store-img-text-label .cart-item-image img {
    width: 4rem;
}

.cart-item .cart-off-store-img-text-label .cart-item-unselect-wrapper {
    display: flex;
    align-items: center
}

.cart-unselect-item-display-flex {
    display: flex;
    justify-content: space-between;
}

.off-store-desc {
    text-align: center;
    color: #fff;
    background: #989898;
    border-radius: .5rem;
    padding: .235rem .342rem;
    font-size: 0.6rem;
}

.cart-item-off-store {
    padding-right: .3rem;
}

.cart-select {
    display: none;
}

.cart-list-select {
    display: none;
}

.cart-shop-select {
    display: none;
}

.cart-item .cart-store-img-text-label .cart-item-image {
    padding: 0 0.3rem;
}

.cart-item .cart-store-img-text-label .cart-item-image img {
    width: 4rem;
}

.cart-item .cart-store-img-text-label .cart-item-text {
    line-height: 1rem;
}

.cart-item-text h2.cart-item-buying-title {
    font-size: .7rem;
    color: #212121;
}

.cart-item-text span.cart-item-buying-desc {
    font-size: .6rem;
    color: #999999;
}

.cart-item .cart-store-img-text-label .cart-unselect-item-text {
    line-height: 1rem;
}

.cart-unselect-item-text h2.cart-item-buying-title {
    font-size: .7rem;
    color: #212121;
}

.cart-unselect-item-text span.cart-item-buying-desc {
    font-size: .6rem;
    color: #999999;
}

.cart-item-display-flex {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.cart-item-price-box {
    color: #eb4c1e;
}

.cart-item-price-box.psu {
    width: 80%;
}

.cart-item-price-box .sign-number {
}

.cart-item-price-box .deci-number {
    font-size: .7rem;
}

.cart-item-quantity {
    width: 20%;
}

.cart-item-quantity .quantity-symbol {
    font-size: .7rem;
}

.cart-item-quantity .quantity-ct {
}

.cart-item .cart-store-img-text-label .cart-item-edit-panel {
    display: none;
    width: 100%;
    align-items: center;
}

.cart-item .cart-store-img-text-label .cart-item-edit-panel .panel-plus-minus {
    width: 73%;
    float: left;
    padding: 0 .5rem;
}

.panel-plus-minus .panel-plus-minus-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.cart-item-buying-desc {

}

span.panel-plus-button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background: #e6e6e6;
}

input.panel-text-input {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #e6e6e6;
}

span.panel-minus-button {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background: #e6e6e6;
}

.cart-item-buying-desc span {
    font-size: .6rem;
    color: #999999;
}

.cart-item-edit-panel .panel-remove-btn {
    width: 25%;
    text-align: center;
    background: #eb4c1e;
    color: #fff;
    height: 4.5rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.panel-remove-btn span {
    padding: 0 .4rem;
}

.cart-footer {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    z-index: 10;
    height: 2.2rem;
    background: #f7f7f8;
    border-bottom: 1px solid #e7e7e7;
    bottom: 0;
    border-top: 1px solid #e6e6e6;
    justify-content: space-between;
}

.cart-footer .cart-all-select {
    padding: .5rem 1.5rem;
}

.cart-footer .text-all-select {
    position: absolute;
    font-size: .7rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #3d4145;
    text-align: left;
    white-space: nowrap;
}

.cart-footer .text-selected {
    position: absolute;
    padding: 0;
    margin: 0 -.5rem;
    font-size: .85rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #3d4145;
    text-align: left;
    /*white-space: nowrap;*/
}

.cart-footer .cart-all-select + label {
    background: url(/assets/images/cart-unselect-icon.png) no-repeat;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: inline-block;
    background-size: 1rem;
}

.cart-footer .cart-all-select:checked + label {
    background: url(/assets/images/cart-selected-icon.png) no-repeat;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: inline-block;
    background-size: 1rem;
}

.cart-select + label, .cart-shop-select + label, .cart-list-select + label {
    background: url(/assets/images/cart-unselect-icon.png) no-repeat;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: inline-block;
    background-size: 1rem;
}

.cart-select:checked + label, .cart-shop-select:checked + label, .cart-list-select:checked + label {
    background: url(/assets/images/cart-selected-icon.png) no-repeat;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    display: inline-block;
    background-size: 1rem;
}

.totalGoodsPrices {
    color: #eb4c1e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4rem;
}

.totalGoodsPrices .deci-number {
    font-size: .7rem;
}

.cart-bottom-all-select {
    padding: .5rem .8rem .5rem .6rem;
    width: 2rem;
}

.cart-bottom-text {
    width: 4rem;
}

.cart-bottom-text .text-selected {
    display: none;
    font-size: .6rem;
}

.cart-bottom-text .text-selected .text-select-number {
    font-size: .8rem;
}

#checkoutBtn {
    text-align: center;
    background: #ea5125;
    display: inline-flex;
    align-items: center;
    padding: 0 1.3rem;
    color: #fff;
    font-size: .6rem;
}

/*nothingBuy*/
#nothingBuy {
    margin: 3rem 0;
    text-align: center;
    display: none;
}

#nothingBuy .nt-icon {
    width: 10rem;
}

#nothingBuy .nt-text {
    width: 10rem;
    margin: 1rem 0 0 0;
}

/**
    订单详情页
 */
.detail-content {
    margin: 0 !important;;
}

.detail-content .product-title-box {
    padding: 0 .5rem;
}

.detail-content .product-title-box .product-title {
    font-weight: normal;
    font-size: 1rem;
    color: #212121;
    margin: 0;
}

.detail-content .product-price-box {
    padding: 0 .5rem;
}

.detail-content .product-price-box span {
    color: #ea5125;
    font-size: 1.2rem;
}

.detail-content .shopping-cost {
    color: #999999;
}

.detail-page {
    background: #fff;
}
.goods-description img{
    width:100%;
}
.goods-detail-mask {
    display: none;
}

.goods-details-page {
}

.goods-details-page .detail-header {
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    padding: .5rem .4rem;
    display: flex
}

.goods-details-page .detail-header .detail-image {
    position: absolute;
    top: -1.5rem;
    left: 1rem;
}

.goods-details-page .detail-header .detail-image .img-round {
    border: 3px solid #fff;
    border-radius: .5rem;
    width: 5rem;
    height: 5rem;
}

.goods-details-page .detail-header .detail-desc {
    margin-left: 6rem;
}

.goods-details-page .detail-header .detail-desc .detail-desc-price {
    color: #ff511f;
    font-size: 1.2rem;
}

.goods-details-page .detail-header .detail-desc .detail-desc-stock {
    font-size: .8rem;
}

.goods-details-page .detail-header .detail-desc .detail-desc-choice {
    font-size: .8rem;
}

.goods-details-page .detail-body {
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    padding: .5rem .25rem;
}

.detail-footer {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    z-index: 1001;
    height: 3rem;
    background-color: #f7f7f8;
    border-bottom: 1px solid #e7e7e7;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    align-items: center;

}

.cart-badge {
    text-align: center;
    background: #ffffff;
    display: inline-flex;
    align-items: center;
    padding: 0 2.1rem;
    color: #fff;
}

.cart-badge .badge {
    position: absolute;
    top: .4rem;
    left: 2.6rem;
    z-index: 100;
    width: 1rem;
    height: 1rem;
    padding: 0 .2rem;
    margin-left: .1rem;
    font-size: .6rem;
    line-height: 1rem;
    vertical-align: top;
    background: #eb4c1e;
    color: #fff;
    border-radius: .5rem;
}

.unactive-cart-item {
    background: #989898;
    color: #fff;
    width: 2rem;
    margin-left: .3rem;
    font-size: .6rem;
    text-align: center;
    border-radius: .3rem;
}

.addToCartBtn {
    text-align: center;
    background: #fa834f;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    color: #fff;
    font-size: .6rem;
    height: 3rem;
}

.buyNowBtn {
    text-align: center;
    background: #eb4c1e;
    display: inline-flex;
    align-items: center;
    padding: 0 2.07rem;
    color: #fff;
    font-size: .6rem;
    height: 3rem;
}

.product-images-slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.product-images-slider .swiper-wrapper .swiper-slide img {
    width: 100%;
    /*height:*/

}

.topLinkMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 222;
    width: 100%;
}

/**
    商品导航主目录
 */
.nav-tabs {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    z-index: 1;
    background: #fff;
}

.nav-tabbar {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    width: 100%;
    height: 1rem;
    background-color: #fff;
    z-index: 1000;
    flex: 0 0 auto;
}

.nav-tabbar-itemlist {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}

.nav-scrollview {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    transform: translateZ(0px);
    padding-bottom: 2rem;
    height: 3rem;
    /*width: 100%;*/
    z-index: 1001;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.nav-tabbar-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /*height: 69.552px;*/
    flex: 0 0 auto;
}

.nav-render {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    align-items: center;
    flex: 0 0 auto;
}

span.nav-text {
    position: relative;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: auto;
    /*height:1.5rem;*/
    font-size: .8rem;
    line-height: 1rem;
    flex: 0 0 auto;
    text-align: center;
    align-items: center;
    color: #212121;
    padding: 0 .85rem;
    /*border-radius:1.5rem;*/
}

span.nav-text.active {
    color: #f84b15;
}

/**
    商品次级导航条
 */
.nav-sub-tabs {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    z-index: 1;
    background: #fff;
}

.nav-sub-tabbar {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    width: 100%;
    height: 1rem;
    background-color: #fff;
    z-index: 1000;
    flex: 0 0 auto;
}

.nav-sub-tabbar-itemlist {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}

.nav-sub-scrollview {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    transform: translateZ(0px);
    padding-bottom: 2rem;
    height: 3rem;
    /*width: 100%;*/
    z-index: 1001;
    -webkit-box-flex: 1;
    flex: 1 1 0%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.nav-sub-tabbar-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /*height: 69.552px;*/
    flex: 0 0 auto;
}

.nav-sub-render {
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: center;
    flex: 0 0 auto;
}

span.nav-sub-text {
    position: relative;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: auto;
    font-size: .7rem;
    line-height: 1rem;
    flex: 0 0 auto;
    text-align: center;
    align-items: center;
    color: #212121;
    padding: .25rem .85rem;
    border-radius: 1.5rem;
}

span.nav-sub-text.active {
    background: #f84b15;
    color: #fff;
    padding: .25rem .85rem;
}

/**
    商品详情页弹出层
 */

.goods-detail-mask {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    z-index: 999;

}

.goods-details-page {
    width: 100%;
    background: #fff;
    z-index: 1000;
    position: absolute;
    bottom: 3rem;
    display: none;
}

.goods-details-page .popup-page {
    display: flex;
    align-items: center;
    line-height: 2rem;
    width: 100%;
    word-break: normal;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.goods-details-page .popup-page .number-input {
    font-size: .8rem;
    color: #212121;
    background: #e6e6e6;
    padding: .2rem .7rem;
    line-height: 1rem;
    border-radius: .2rem;
    margin: .223rem .223rem;
}

.goods-details-page .popup-page .number-input.active {
    font-size: .8rem;
    color: #fff;
    background: #ff511f;
    padding: .2rem .7rem;
    line-height: 1rem;
}

.goods-details-page .popup-page input {
    font-size: .8rem;
    color: #212121;
    background: #f5f5f5;
    border: #e6e6e6;
    width: 1.5rem;
    height: 2rem;
    text-align: center;
}

.goods-details-page .popup-page .bottomline {
    border: #e6e6e6;
}

.nav-tabbar-bottomline {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    left: 0;
    z-index: 9999;
    top: 40px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: rgb(255, 80, 0);
    width: 3rem;
    transform: translate3d(0px, 0px, 0px);
}

::selection {
    background: #fff714;
    color: #999;
}

.product-images-slider .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: auto;
}

.bab {
    width: 3rem;
}

.main-nav {
    padding: .45rem 0;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.nav-sub-position {
    padding: .65rem .25rem;
    background: #fff;
}

.categoryList {
    margin: 0 0 .25rem 0 !important;
}

.topLinkMenu .backLink {
    text-align: center;
    background: #000;
    opacity: .5;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    top: 1rem;
    left: .5rem;
    position: absolute;
}

.topLinkMenu .menuLink {
    text-align: center;
    background: #000;
    opacity: .5;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    top: 1rem;
    right: .5rem;
    position: absolute;
}

.offEditPanel{
    display: none;
    margin: .5rem 0;
}

/*我的订单*/
.orderColumn{
    background: #fff;font-size:.85rem;
}
.orderColumn .row .ocItem{
    color: #212121;
    padding: .35rem .15rem;
}
.orderColumn .row .ocItem.active{
    color: #eb4c1e;
    border-bottom: 1px solid #eb4c1e;
    padding: .35rem .15rem;
}
.myOrderList{
    margin:.3rem 0!important;
}
.myOrderList .cart-item .cart-store-title-label .storeName{
    /*width: 15rem;*/
    font-size: 0.7rem;
    padding: 0 .2rem;
}
.myOrderList .cart-item .cart-store-title-label .tradeStatus{
    /*padding: 0 .2rem;*/
    font-size: 0.7rem;
    color: #eb4c1e;
    margin-right: .52rem;
}
.priceWrapper{
    text-align: right;
    padding-right: .8rem;
}
.priceWrapper .nowPrice{font-size:.7rem;color:#3c3c3c;}
.priceWrapper .pastPrice{font-size:.7rem;color:#999999;}
.totalBox{
    border-bottom: 1px solid #e1e1e1;
    font-size: .7rem;
    text-align: right;
    line-height: 1rem;
    padding: .5rem .5rem .5rem 1rem;
    background: #fff;
}
.totalBox .totalPrice{
    font-size:.9rem
}
.totalBox .logPrice{}

.userChooseCol{
    font-size:.7rem;text-align: right;line-height: 1rem;padding: .5rem .5rem .5rem 1rem;background:#fff;
}
.userChooseCol .checkLogBtn{
    margin: 0 .5rem;
    color: #505050;
    border: 1px solid #505050;
    background: transparent;
    padding: .123rem .6rem;
}
.userChooseCol .uccButton{
    margin: 0 .5rem;
    color: #eb4c1e;
    border: 1px solid #eb4c1e;
    background: transparent;
    padding: .123rem 1.6rem;
}.userChooseCol .commentBtn{
    margin: 0 .5rem;
    color: #eb4c1e;
    border: 1px solid #eb4c1e;
    background: transparent;
    padding: .123rem 1.6rem;
}
.userChooseCol .confirmReceiptBtn{
    margin: 0 .5rem;
    color: #eb4c1e;
    border: 1px solid #eb4c1e;
    background: transparent;
    padding: .123rem .6rem;
}
.userChooseCol .paymentBtn{
    margin: 0 .5rem;
    color: #eb4c1e;
    border: 1px solid #eb4c1e;
    background: transparent;
    padding: .123rem .6rem;
}
.rg-col{
    background-color:#ff503e !important;
}

/**
    提交订单
 */

/*提交订单 顶部*/
/*提交订单 地址*/
.addressBox{
    margin: 0!important;
    background: #eb4c1e;
    color: #fff;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.addressWrapper{
    display: flex;
    justify-content: space-between;
    padding: .9rem 0;
    color: #fff;
}
.addressWrapper .leftIcon{
    padding-top:.8rem;padding-left:.43rem;
}
.addressWrapper .addressUserProfile{
    padding:0 .2rem;font-size:.8rem;
}
.addressWrapper .rightIcon{
    padding-top:.3rem;
}
/*提交订单 详情*/
.orderDetailHeader{
    margin:0!important;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .333rem .55rem
}
.orderDetailHeader .storeName{
    font-weight: 400;
    color: #212121;
}
.orderDetailHeader .tradeStatus{
    color:#ea5125;
}
.order-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;
    width: 100%;
    background: #f5f5f5;
}
.order-item .order-item-img{
    padding:.36rem .93rem;
}
.order-item .order-item-img img{
    width:3rem
}
.order-item .order-item-desc{
    padding:0 .348rem;
}
.order-item-desc .desc-title{
    font-weight: 400;
    font-size: .8rem;
    color: #515151;
}
.order-item-desc .desc-content{
    color: #999;
    font-size: .6rem;
}
.order-item .order-item-price{
    padding: 0 .348rem;
    text-align: right
}
.order-item-price .nowPrice{
    font-size: .8rem;
    line-break: normal;
}
.order-item-price .pastPrice{
    font-size: .8rem;
    line-break: normal;
}
.orderDetailAddons{
    background: #fff;
    margin: 0!important;
}

.orderDetailAddons .shipping-method .shipping-cost span {
    color: #ea5125;
}
.fs8{
    font-size: .8rem
}
.detail-total{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.detail-total-quant{

}
.detail-total-nums{

}
.detail-total-nums span{
    color: #ea5125;
}
/*提交订单 底部*/
.orderBottomBar{
    border-top: 1px solid #eee;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    display: flex;
    z-index: 1001;
}
.orderBottomBar .detailSums{
    padding: 0 .332rem;
    height: 3rem;
}
.orderBottomBar .detailSums{
    color:#212121;
    font-size:.8rem;
}
.orderBottomBar .detailSums p span{
    color:#ea5125;
    font-size:.9rem;
}
.orderBottomBar .detailOrderBtn{
    background: #ea5125;
    color: #fff;
    height: 3rem;
    align-items: center;
    display: flex;
    padding: 0 .5rem;
}
.orderBottomBar .detailOrderBtn span {
    font-size:.8rem;
}
#my_header .reset-con{
    background-color:#ff503e;
    margin:0 0 1rem 0;
    padding:0;
}
#my_header  .con-b2{
    margin:0 !important;
    padding:0;
}
#my_header  .u-p-i2{
   padding:0;
}
#my_header  .user-id{
    font-size:0.667rem;
    text-align:center;
    color:#fff;
}
.rest-money{
    text-align:center;
    line-height:1.5rem;
}
.rest-money .reset2{
    font-size:0.85rem;
    color:#fff100;
}
.rest-money .reset2-img{
    display:inline-block;
    width:1rem;
    height:0.759rem;
    background:url(../assets/images/money.png) left center no-repeat;
    background-size:auto 100%;
}
.reset-detail{
    font-size:0.667rem;
    color:#fff;
    border-bottom:solid 1px #fff;
    margin-left:0.3rem;
}
.obligation{
    margin-top:0 !important;
    padding:0 !important;

}
.obligation ul{
    display:flex;
    padding:0.3rem 0 !important;

}
.obligation ul li{
    float:left;
    font-size:0.667rem;
    line-height:1.2rem;
    flex:1;
    text-align:center;
    border-left:solid 1px #b1ada1;
    color:#212121;

}
.show-amount{
    display:inline-block;
    height:0.8rem;
    line-height:0.9rem !important;
    text-align:center;
    background-color: #ff503e;
    color:#fff;
    line-height:1rem;
    border-radius:0.3rem;
    padding:0 0.2rem;
    margin-left:0.1rem;
}

#my_header .list-block{
    margin-top:0;
}
#my_header .content-block{
   margin:0;
}
.my-login{
    width:100%;
    text-align:center;
}
.my-login .register-button{
    display:inline-block;
}
.balance{
    margin:0.5rem 0 1.75rem 0 !important;
}
.balance .bala-content{
    background-color:#fff;
}
.balance .item-inner{
    margin-left: auto;
    width:auto !important;
}
.balance .item-media{
    font-size:0.667rem;
}
.jin-e{
   font-size:0.667rem;
    color:#eb4c1e;
}
.buy-amount{
    display:inline-block;
    color:#505050;
}
.dollar{
    font-size:0.667rem;
}
.int-part{
   font-size:0.85rem;
}
.summation{
    display:inline-block;
    margin-left:0.4rem;
}
.balance .account-ret{
     display:inline-block;
     margin-right:0.607rem;
}
.fs8 {
    border-bottom:solid 1px #e6e6e6;
}