body{background:#EBEFF2;}
.page {padding:0;background:#EBEFF2}
.modal-tip {
    background: rgba(0, 0, 0, 0.6) url('/themes/theme_default/wx/images/home_tips@2x.png') center no-repeat;
    background-size: 90%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display:none;
}
#banner {height:1.6rem;overflow: hidden; position: relative;}
#banner #banner-list li{
	height:auto;
	padding:0;
	float:none;
	width: 100%;
}
#banner a {
    width:100%;
	height: 1.6rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size:auto 1.6rem;
    display: block;
}
.swiper-pagination {top:1.35rem;}
.container {padding:0;overflow:hidden;}
.nav-box ul {
    padding: 0 0.15rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 100%;
    display: table;
}
.menu-list ul li {
    line-height: 0.4rem;
    font-size: 0.16rem;
    color: #666;
    padding:0 0.1rem;
    display: table-cell;
}
.menu-list ul li.current b{color:#FE4C83;border-bottom: 1px solid #FE4C83;display:block;}
.list-box {
	margin:.1rem;
	background:#fff;
	position:relative;
	height:3.6rem;
}
.list-box .type {
	width:100%;
	height:100%;
	position:absolute;
}
.list-box .title {
	text-align: center;
	color:#4C576B;
	font-size:0.18rem;
	padding:.25rem .1rem .3rem;
}
.apr-box {text-align: center;}
.apr-box h3 {
	line-height: .8rem;
	font-size: .3rem;
}
.apr-box p{
	font-size: .12rem;
	color:#A5AEBA;
}
.apr-box .apr{
	font-size: .5rem;
}
.info-box div {
	width:50%;
	float:left;
	text-align: center;
}
.info-box h3 {
	color:#9da4b4;
	font-size: .12rem;
}
.info-box p {
	color:#333;
	line-height: 1;
	padding-top: .1rem;
	font-size: .14rem;
}
.operator {
	padding:.3rem 10% .25rem;
}
.operator .btn {
	height:.5rem;
	color:#fff;
	text-align: center;
	font-size: .18rem;
	border-radius: 5px;
	display:block;
	padding:.08rem 0 0;
	line-height: 1;
}
.operator .btn span {
	padding-top: .08rem;
	display:block;
}
.operator .btn small {
	font-size: .12rem;
	display:block;
	padding-top: .06rem;
}
.safe-pro {
    text-align: center;
    color: #b8c2cb;
    font-size: .12rem;
}
.null-box {
    color: #b8c2cb;
    text-align: center;
    line-height: .24rem;
    margin-top: 1.1rem;
}


