.top-bid-info {height:1.53rem;background:#FD6739;color:#fff;display:-webkit-flex;display:flex;padding-top:.3rem;}
.left-apr {
	width:1.65rem;text-align:center;position:relative;
	background:url(../images/biao_quan.png) center top no-repeat;
	background-size:auto .81rem;
	padding-top:.18rem;
	height: .91rem;
	margin-right: .2rem;
}
.left-apr h3 b {font-size:.36rem;}
.left-apr p {font-size:.12rem;}
.dashed-line {
    width: 1px;
    height: calc(100% - 10px);
    height: -webkit-calc(100% - 10px);
    float: right;
    position: absolute;
    top: 10px;
    right: 0;
}
.left-apr .aui-border-r:after {border-right:1px dashed #fff;}
.right-info {
    height: .91rem;
    padding-top:.05rem;
}
.right-info p {margin:.03rem 0;}
.center-apr {text-align:center;width:100%;}
.center-apr h1 {font-size: .55rem;}
.footer-invest {position:absolute;bottom:0;line-height:.5rem;background:#fff;width:100%;}
.footer-invest span {margin-left:.15rem;}
.footer-invest a {float:right;width:45%;text-align:center;color:#fff;background:#FD6739;font-size:.18rem;}
.modal-layer {position:absolute;bottom:0;width:100%;background:rgba(0,0,0,0.6);height:100%;z-index:9999;}
.modal-layer h3 {line-height:.5rem;background:#fff;text-align:center;padding-left:.15rem;}
.modal-layer .list-block {margin:0;}
.modal-layer .list-block ul{padding-left:.15rem;min-height:1.5rem;max-height: 3rem;overflow: auto;}
.list-block .item-after label {width:.2rem;height:.2rem;display:inline-block;background:url(../images/icon_xzyhq_wxz.png) center/100% no-repeat;}
.list-block .item-after label.checked {background-image: url(../images/icon_xzyhq.png);}
.modal-layer .bottom-fix {position:absolute;bottom:0;width:100%;}

.list-block ul.height-50 .item-content {height:.5rem;}
.list-block ul.height-50 .item-content span {font-size:.13rem;color:#999;display:block;}
.list-block .after-color .item-title {color:#666;}
.list-block .after-color .item-after {color:#666;font-size:.15rem;}
.list-block .validCoupon {
    background:#FFC1AE;color:#fff;border-radius: 3px;padding:.04rem .08rem;display:inline-block;
    margin-left:.05rem;
}
.modal-layer2 {position:absolute;bottom:0;width:100%;background:rgba(0,0,0,0.4);height:100%;z-index:9999;}
.modal-layer2 .box-cont {position:absolute;top:30%;width:90%;left:5%;background:#fff;border-radius:.05rem;}
.modal-layer2 h3 {line-height:.4rem;text-align:center;padding-left:.15rem;}
.modal-layer2 h3 img {width:.12rem;}
.modal-layer2 h3 span {float:left;}
.modal-layer2 .pwd-box {margin:.3rem 0;}
.modal-layer2 .pwd-box input {border:1px solid #E6E6E6;height:.4rem;width:80%;margin:0 10%;border-radius:.05rem;}
.modal-layer2 .btns {line-height:.4rem;text-align:center;border-top:1px solid #E6E6E6;}
.modal-layer2 .btns a {width:50%;float:left;}
.modal-layer2 .btns a:first-child {border-right:1px solid #E6E6E6;}
.little-tip {background:#F7F2C2;line-height: .3rem;text-indent: .1rem;}
.rule {background:#fff;padding:.15rem;color:#666;}
.rule .box:not(:last-child) {border-bottom:1px dashed #e5e5e5;margin-bottom: .15rem;}
.btn-ljcr {position:absolute;bottom:0;width:100%;text-align: center;line-height: .5rem;background:#fd6739;color:#fff;font-size: .2rem;}
.content.footer-content {bottom:.5rem;}
/*未登录*/
.borrow_user_tip dl dt {
    font-size: 20px;
    color: #2675b9;
    line-height: 45px;
    height: 84px;
    width: 84px;
    background: url(../images/borrow-bg.png) no-repeat;
    float: left;
}
.borrow_user_tip dl dd {
    font-size: 14px;
    line-height: 30px;
    padding-left: 104px;
    padding-top: 10px;
    color: #b8b8b8;
    width: auto;
}
