ul.height-65 li {height:.65rem;}
.operator {margin:0 .15rem;}
.recharge_tips {color:#4cb2da;margin-top:.15rem;}
.modal-layer {position:absolute;bottom:0;width:100%;background:rgba(0,0,0,0.6);height:100%;z-index:9999;}
.modal-layer h3 {line-height:.5rem;background:#fff;text-align:center;padding-left:.15rem;}
.modal-layer .list-block {margin:0;}
.modal-layer .list-block ul{padding-left:.15rem;min-height:1.5rem;max-height: 3rem;overflow: auto;}
.list-block .item-after label {width:.2rem;height:.2rem;display:inline-block;background:url(../images/icon_xzyhq_wxz.png) center/100% no-repeat;}
.list-block .item-after label.checked {background-image: url(../images/icon_xzyhq.png);}
.modal-layer .bottom-fix {position:absolute;bottom:0;width:100%;}

.modal-layer2 {position:absolute;bottom:0;width:100%;background:rgba(0,0,0,0.4);height:100%;z-index:9999;}
.modal-layer2 .box-cont {position:absolute;top:30%;width:90%;left:5%;background:#fff;border-radius:.05rem;}
.modal-layer2 h3 {line-height:.4rem;text-align:center;padding-left:.15rem;}
.modal-layer2 h3 img {width:.12rem;}
.modal-layer2 h3 span {float:left;}
.modal-layer2 .pwd-box {margin:.3rem 0;}
.modal-layer2 .pwd-box input {border:1px solid #E6E6E6;height:.4rem;width:80%;margin:0 10%;border-radius:.05rem;}
.modal-layer2 .btns {line-height:.4rem;text-align:center;border-top:1px solid #E6E6E6;}
.modal-layer2 .btns a {width:50%;float:left;}
.modal-layer2 .btns a:first-child {border-right:1px solid #E6E6E6;}